vendor/
node_modules/
.env
*.tmp
*.bak
~$*
.DS_Store
Thumbs.db
storage/logs/*.log
storage/cache/*

.docs
.gigacode
.osp
00-input/*
.claude/commands
reference/*

current-pipeline.md
TASK-example.md
TASK.md

